<svg aria-hidden="true" style="width: 0px; height: 0px; overflow: hidden; position: absolute;" xmlns="http://www.w3.org/2000/svg">
  <symbol id="slider-up" viewBox="0 0 10 18">
    <path d="M9 1L1 9.38095L9 17" />
  </symbol>
  <symbol id="slider-down" viewBox="0 0 10 18">
    <path d="M1 1L9 9.38095L1 17" />
  </symbol>
  <symbol id="slider-left" viewBox="0 0 9 16">
    <path d="M8 15L1 8L8 1" />
  </symbol>
  <symbol id="slider-right" viewBox="0 0 9 16">
    <path d="M1 15L8 8L1 1" />
  </symbol>
  <symbol id="calc_1" viewBox="0 0 30 30">
    <g>
      <rect x="0.5" y="0.5" width="13" height="13" />
      <rect x="16.5" y="0.5" width="13" height="13" />
      <rect x="0.5" y="16.5" width="13" height="13" />
      <rect x="16.5" y="16.5" width="13" height="13" />
    </g>
  </symbol>
  <symbol id="calc_2" viewBox="0 0 48 50">
    <g>
      <rect x="0.5" y="0.5" width="19" height="19" />
      <rect x="28.5" y="0.5" width="19" height="19" />
      <rect x="0.5" y="30.5" width="19" height="19" />
      <rect x="28.5" y="30.5" width="19" height="19" />
    </g>
  </symbol>
  <symbol id="pres_1" viewBox="0 0 35 34">
    <g>
      <rect x="0.5" y="0.5" width="25" height="25" />
      <rect x="4.5" y="4.5" width="25" height="25" />
      <rect x="9.5" y="8.5" width="25" height="25" />
    </g>
  </symbol>
  <symbol id="pres_2" viewBox="0 0 79 45">
    <g>
      <rect x="0.5" y="0.5" width="69" height="36" />
      <rect x="4.5" y="4.5" width="69" height="36" />
      <rect x="9.5" y="8.5" width="69" height="36" />
    </g>
  </symbol>
</svg>