.slider-block
  overflow: hidden
  position: relative

.slider-menu
  display: none
  flex-direction: column
  justify-content: center
  height: 100vh
  left: 50%
  list-style: none
  margin: 0
  padding: 0
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 0
  z-index: 101

  @media(min-width: 1200px)
    display: flex

  .slider-dots,
  .slider-arrows
    transform: translateX(-50%)
    width: 30px

  .slick-dots
    position: static

    li
      display: block
      height: 30px
      margin: 0
      width: 30px

      &.slick-active
        button
          &::before
            background-color: #fff
            height: 8px
            width: 8px

      button
        height: 30px
        position: relative
        width: 30px

        &::before
          background-color: rgba(#C4C4C4, 0.34)
          border-radius: 50%
          height: 5px
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
          transition: all 0.3s
          width: 5px

  .slick-arrow
    height: 30px
    position: static
    transform: none
    width: 30px

  .slick-arrow__icon
    fill: none
    height: 16px
    stroke: #fff
    width: 30px

.slider
  background-color: #F9F9F9

  @media(min-width: 1200px)
    height: 100vh
    min-height: 100vh
    z-index: 1

  .slick-list,
  .slick-track,
  .slick-slide
    height: 100%

  .slick-slide
    &.prostavka
      height: 0

  &__slide
    background-size: cover
    color: #fff
    position: relative

    @media(max-width: 1199px)
      background: none !important

  &__slide-container
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: 100%
    left: auto
    position: absolute
    padding-right: 15px
    padding-bottom: 70px
    right: 0
    top: 0
    width: 75%
    z-index: 1

    @media(min-width: 375px)
      padding-bottom: 95px
      width: 65%

    @media(min-width: 768px)
      width: 50%

    @media(min-width: 1200px)
      padding-left: 110px
      padding-bottom: 150px

  &__slide-image
    width: 100%

    @media(min-width: 768px)
      height: 100%
      object-fit: cover

  &__slide-pretitle
    font-size: 8px
    font-weight: 300
    letter-spacing: 2px
    margin-bottom: 15px
    max-width: 450px
    text-transform: uppercase

    @media(min-width: 1200px) and (min-height: 800px)
      font-size: 10px
      margin-bottom: 40px

  &__slide-title
    font-size: 24px
    font-weight: 700
    line-height: 32px
    margin-bottom: 0
    max-width: 450px
    text-transform: uppercase

    @media(min-width: 768px)
      font-size: 36px
      line-height: 50px

    @media(min-width: 1350px)
      font-size: 48px
      line-height: 57px

  &__slide-text
    display: none
    font-size: 16px
    line-height: 24px
    margin-top: 20px
    max-width: 370px
    opacity: 0.45

    @media(min-width: 1200px) and(min-height: 700px)
      display: block

    @media(min-width: 1200px) and(min-height: 800px)
      margin-top: 40px

  .slick-dots
    bottom: 25px

    li
      height: 30px
      margin: 0
      width: 30px

      &.slick-active
        button
          &::before
            background-color: #fff
            height: 8px
            width: 8px

      button
        height: 30px
        position: relative
        width: 30px

        &::before
          background-color: rgba(#C4C4C4, 0.34)
          border-radius: 50%
          height: 5px
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
          transition: all 0.3s
          width: 5px
